.heading{
    height: 100px;
    background-color: rgb(210, 247, 247);
    text-align: center;
    color: rgb(8, 12, 228);
}
.main{
    height: 1500px;
    background-color: rgb(235, 205, 205);
}
.btncontainer{
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.line{
    color:brown
}
.btn{
    margin-left: 150px;

}
